.container_solutions {
  padding: 105px;
  width: 100%;
  position: relative;

  @media (max-width: 800px) {
    padding: 60px;
  }
}

.title_center_solutions {
  margin: 0;
  font-size: 55px;
  line-height: 1.25em;
  padding: 0 0 0.6em;
  font-family: var(--font-antonio), sans-serif;
  letter-spacing: 0.4em;

  span {
    color: hsl(var(--a));
  }

  @media (max-width: 800px) {
    display: none;
  }
}

.title_center_solutions_mobile {
  margin: 0;
  font-size: 100px;
  line-height: 1.25em;
  padding: 0 0 0.6em;
  font-family: var(--font-antonio), sans-serif;
  letter-spacing: 0.4em;

  span {
    color: hsl(var(--a));
  }

@media (min-width: 800px) {
    display: none;
  }
}

.container_solutions_description {
  padding: 3em;
  background-color: rgba(75, 79, 88, 0.8);
  max-width: 650px;
  margin-bottom: 20px;

  p {
    max-width: 500px;
  }

  button {
    margin: 1.8em 0 0;
    background-color: hsl(var(--p));
    border: none;
    border-radius: 77.8082px;
    color: white;
    padding: 5px 30px;
    font-size: 16px;

    @media (max-width: 800px) {
      font-size: 25px;
    }
  }

  @media (max-width: 1150px) {
    margin-bottom: 0;
  }

  @media (max-width: 800px) {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 120px 76px 76px;
    margin: 480px 76px 0;

    p {
      max-width: 100%;
      text-align: center;
    }
  }
}

.solutions_subtitle {
  font-size: 32px;
  line-height: 1em;
  margin: 0 0 1.8em;

  @media (max-width: 800px) {
    font-size: 35px;
  }
}

.solutions_description {
  font-size: 25px;
  line-height: 1.7em;

  @media (max-width: 800px) {
    font-size: 27px;
  }
}

.container_image_center_solutions {
  position: absolute;
  z-index: -1;
  object-fit: cover;
  top: 16vw;
  right: 0;
  bottom: 0;
  width: 650px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

  #project5Mobile {
    display: none;
    width: 100%;
  }

  @media (max-width: 800px) {
    width: 92%;
    top: 80px;
    left: unset;
    right: unset;
    bottom: unset;

    #project5Mobile {
      display: unset;
    }

    #project5 {
      display: none;
    }
  }
}

.container_solutions_aboutus {
  padding: 50px;
  width: 100%;
  position: relative;

  @media (max-width: 800px) {
    padding: 40px;

  }
}

.container_solutions_description_aboutus {
  padding: 4em;
  background-color: #80110C;
  max-width: 728px;
  height: auto;
  margin-left: 15%;

  p {
    max-width: 728px;
  }

  @media (max-width: 1150px) {
    margin-bottom: 0;
  }

  @media (max-width: 800px) {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 35px 35px;
    margin: 20px 35px 0;

    p {
      max-width: 100%;
      text-align: center;
    }
  }
}

.solutions_subtitle_aboutus {
  font-size: 28px;
  line-height: 1em;
  margin: 0 0 1.8em;
  text-align: center;

  @media (max-width: 800px) {
    font-size: 35px;
  }
}

.solutions_description_aboutus {
  font-size: 18px;
  line-height: 1.7em;
  text-align: justify;

  @media (max-width: 800px) {
    font-size: 20px;
  }
}
