.sticky_button{
  position: fixed;
  border-radius: 100%;
  padding: 0.75em;
  background-color: #25d366;
  z-index: 50;
  bottom: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: -2px 0px 23px 2px rgba(0,0,0,0.43);
  -webkit-box-shadow: -2px 0px 23px 2px rgba(0,0,0,0.43);
  -moz-box-shadow: -2px 0px 23px 2px rgba(0,0,0,0.43);
}
