@mixin switch-theme($theme, $theme-map) {
  :root[theme='#{$theme}'] {
    @each $section, $map in $theme-map {
      @if $section == general {
        --b1: #{map-get($map, background-1)};
        --b2: #{map-get($map, background-2)};
        --b3: #{map-get($map, background-3)};
        --bc: #{map-get($map, background-text)};
      }
      @if $section == solid {
        --n: #{map-get($map, main)};
        --nc: #{map-get($map, main-text)};
        --nf: #{map-get($map, main-hover)};
        --p: #{map-get($map, primary)};
        --pc: #{map-get($map, primary-text)};
        --pf: #{map-get($map, primary-hover)};
        --s: #{map-get($map, secondary)};
        --sc: #{map-get($map, secondary-text)};
        --sf: #{map-get($map, secondary-hover)};
        --a: #{map-get($map, ascend)};
        --ac: #{map-get($map, ascend-text)};
        --af: #{map-get($map, ascend-hover)};
      }
      @if $section == state {
        --in: #{map-get($map, info)};
        --inc: #{map-get($map, info-text)};
        --su: #{map-get($map, success)};
        --suc: #{map-get($map, success-text)};
        --wa: #{map-get($map, warning)};
        --wac: #{map-get($map, warning-text)};
        --er: #{map-get($map, error)};
        --erc: #{map-get($map, error-text)};
      }
      @if $section == button {
        --rounded-btn: #{map-get($map, rounded)};
        --border-btn: #{map-get($map, border)};
        --animation-time: #{map-get($map, animation-time)};
      }
      @if $section == button {
        --out: #{map-get($map, outline)};
        --border-form: #{map-get($map, border)};
      }
    }
  }
}
