.services__ourServices {
  margin-top: 3rem;
  max-width: 100%;
  margin: auto;

  .services {
    &__title {
      text-align: center;
      margin: 4rem 0rem 2rem 0rem;

      & > * {
        display: block;
        font-family: var(--font-antonio), sans-serif;
        font-weight: 400;
        font-size: 28px;
        line-height: 36px;
        letter-spacing: 18px;
        text-transform: uppercase;

        &:last-child {
          color: hsl(var(--a));
        }
      }
    }

    &__list {
      width: 100%;
    }

    &__card {
      font-style: normal;
      font-weight: 400;
      width: auto;
      height: 536px;
      position: relative;

      img {
        mix-blend-mode: overlay;
        position: absolute;
        top: 0;
        object-fit: fill;
      }

      .gradient {
        position: absolute;
        top: 0;
        width: 137px;
        bottom: 0;
        z-index: 1;
        background: linear-gradient(93.27deg, #000000 2.07%, rgba(0, 0, 0, 0) 83.69%);
        mix-blend-mode: multiply;
      }

      .information{
        display: flex;
        opacity: 0;
        visibility: hidden;
        margin-top: 5rem;
        text-align: center;
        padding: 0rem 2rem;
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 400ms ease-out;

        .title{
          font-family: var(--font-antonio), sans-serif;
          font-size: 16px;
          line-height: 45px;
          letter-spacing: 15px;
          text-transform: uppercase;
        }

        .description{
          font-family: var(--font-ubuntu), sans-serif;
          font-size: 14px;
        }
      }

      span {
        font-family: var(--font-antonio), sans-serif;
        display: block;
        font-size: 15px;
        line-height: 19px;
        letter-spacing: 15px;
        text-transform: uppercase;
        transform: rotate(-90deg);
        transform-origin: left;
        width: 100%;
        color: #fff;
        white-space: nowrap;
        position: absolute;
        bottom: 25px;
        left: 35px;
        z-index: 2;
        transition: all 400ms ease-out;
      }
    }

    &__card:hover{
      span{
        opacity: 0;
        visibility: hidden;
        transition: all 400ms ease-out;
      }

      .information{
        opacity: 1;
        visibility: visible;
        transition: all 400ms ease-out;
      }

    }
  }

  .swiper-wrapper {
    padding-bottom: 50px;
  }

  .swiper-slide {
    position: relative;
    transform: scale(0.95);
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    width: 80%;
    height: 100%;

    &:nth-child(1n) .services__card {
      background-color: #3e5364;
    }

    &:nth-child(2n) .services__card {
      background-color: #77726f;
    }

    &:nth-child(3n) .services__card {
      background-color: #3b5a64;
    }
  }

  .swiper-slide-active {
    transform: scale(1);
  }

  .swiper-pagination-bullet {
    background-color: hsl(var(--s));
  }
}

@media screen and (min-width: 550px) {
  .services__ourServices {
    max-width: 90%;
    .swiper-slide {
      width: auto;
    }

    .swiper-slide {
      transform: scale(1);
    }
  }
}

@media screen and (min-width: 1150px) {
  .services__ourServices {
    margin-top: 3rem;
    max-width: 70%;
    .services {
      &__title * {
        display: inline-block;
        font-size: 40px;
        line-height: 52px;
        letter-spacing: 30px;

        &:last-child {
          margin-left: 1em;
        }
      }
    }
  }
}
