.hero {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #4b4f58;
  background-blend-mode: multiply;
  width: 100%;
  height: 30vh;
  position: relative;
  color: white;

  &__content {
    @include flex(1em, center, center);
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 313px;
    & > * {
      text-align: center;
    }
  }

  &__title {
    letter-spacing: 12px;
    font-family: var(--font-antonio), sans-serif;
    font-weight: 400;
    line-height: 39px;
    text-align: right;
    display: block;
    text-transform: uppercase;
    font-size: 30px;
  }

  &__subtitle {
    font-weight: 400;
    font-family: var(--font-montserrat), sans-serif;
    font-size: 12px;
    line-height: 14px;
  }

  &__welcome{
    font-weight: 400;
    font-family: var(--font-montserrat), sans-serif;
    font-size: 16px;
    line-height: 19px;
  }

  &__description {
    font-family: var(--font-montserrat), sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
  }
}

@media screen and (min-width: 600px) {
  .hero {
    height: 100vh;

    &__content {
      display: flex;
    
      left: unset;
      max-width: unset;
      right: 5%;
      align-items: end;
      width: 100%;
      left: auto; 
      max-width: 100%; 
     
      z-index: 1; 
    }

    &__title {
      
      padding-block-end: 20px;
      letter-spacing: 30px;
      font-size: 64px;
      line-height: 82px;
      text-align: right;
    }

    &__subtitle {
      font-size: 20px;
      line-height: 24px;
    }

    &__welcome{
      font-size: 36px;
      margin: 2em 0 1.2em;
    }

    &__description {
      font-size: 20px;
      line-height: 24px;
      display: block;
      max-width: 600px;
      text-align: justify;
      white-space: pre-wrap;
    }
  }
}
