.home__products {
  padding: 1rem;

  &_wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
  }

  h4 {
    font-family: 'Antonio';
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 19px;
    text-transform: uppercase;
    margin-bottom: 3rem;
  }

  .products__list {
    list-style-type: none;
    margin: 2rem auto;
    width: 100%;

    ul {
      max-width: 900px;
      margin: auto;
      position: relative;
      li {
        & > div {
          height: 180.43px;
          left: 15px;
          background-color: #fff;
          border-radius: 4px;
          display: grid;
          place-content: center;
        }

        & > article {
          display: flex;
          flex-direction: column;
          gap: 1em;
          max-width: 160px;
          margin: 1rem auto;
        }

        span {
          display: block;
          font-weight: 700;
          font-size: 16px;
          line-height: 17px;
          text-align: center;
        }

        p {
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          text-align: center;
        }

        img {
          max-width: 100px;
          display: block;
          object-fit: contain;
        }
      }
    }
  }

  .products__arrow_wrapper {
    &_left,
    &_right {
      display: none;
      width: fit-content;
      position: absolute;
      z-index: 5;
      top: calc(50% - 85px);
      cursor: pointer;
      transition: transform 0.3s ease;
      &:hover {
        transform: scale(1.1);
      }
    }

    &_left {
      left: -50px;
    }

    &_right {
      right: -50px;
    }
  }

  .swiper-wrapper {
    padding-bottom: 50px;
  }

  .swiper-pagination-bullet {
    background-color: hsl(var(--s));
  }

  .products__view-all {
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;

    a {
      text-decoration: none;
      font-family: 'Antonio';
      font-weight: 400;
      font-size: 24px;
      line-height: initial;
      text-transform: uppercase;
      color: hsl(var(--a));

      & > * {
        display: inline-block;
        &:last-child {
          margin-left: 0.6em;
          color: #fff;
        }
      }
    }
  }
}

@media screen and (min-width: 900px) {
  .home__products {
    h4 {
      font-size: 40px;
      line-height: 52px;
      text-align: left;
      letter-spacing: 30px;
    }
  }
}

@media screen and (min-width: 1150px) {
  .home__products {
    .products__arrow_wrapper {
      &_left,
      &_right {
        display: block;
      }
    }

    .swiper-pagination-bullet {
      display: none;
    }

    .products__view-all {
      display: flex;
      gap: 1em;
      justify-content: flex-end;
      margin-right: 6.5rem;
    }
  }
}
