.main-navbar {
  height: 100vh;
  position: fixed;
  z-index: -1;
  width: 100%;
  transition: all 0.3s ease-in;
  inset: 0;
  margin-top: 42px;
  display: grid;
  place-content: center;
  opacity: 0;
  background-color: #1f2024;

  &__scroll {
    margin-top: 0;
  }

  &__icon-scroll {
    position: fixed !important;
    transition: all 0.2s ease-out;
    top: 0;
    right: 0;
  }

  &__active {
    z-index: 100;
    background-color: rgba($color: #1f2024, $alpha: 0.98);
    opacity: 1;
  }

  &__icon-active {
    z-index: 200;
    top: 0;
  }

  &__icon {
    display: block;
    float: right;
    padding: 1em;
    z-index: 230;
    position: relative;
    svg {
      cursor: pointer;
    }
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2em;

    a {
      text-decoration: none;
      color: inherit;
      display: block;
      text-align: center;
      padding: 1em;
      text-transform: uppercase;
    }
  }
}

@media screen and (min-width: 768px) {
  .main-navbar {
    margin-top: 76px;
  }
}

@media screen and (min-width: 1200px) {
  .main-navbar {
    height: unset;
    position: absolute !important;
    z-index: 100;
    width: 100%;
    transition: unset;
    inset: unset;
    margin-top: unset;
    display: flex;
    place-content: unset;
    opacity: 1;
    background-color: transparent;

    &__icon {
      display: none;
    }

    ul {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 8em;
      border-bottom: solid #fff 1px;

      a {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
      }
    }
  }
}
