.home__trayectory {
  background-color: hsl(var(--b1));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Antonio, serif;
  margin-top: 2em;
  margin-bottom: 4em;


  .information__container {
    background: hsl(var(--b2));
    max-width: 1000px;
    padding: 3em 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4em;

    .title__trayectory {
      position: relative;
      z-index: 1;
      align-self: end;
      text-align: right;
      h2 {
        letter-spacing: 19.76px;
        font-size: 28px;
      }
    }

    .content__trayectory {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      row-gap: 2em;

      .years__trayectory {
        background-color: hsl(var(--p));
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1em 3em;
        transform: translate(-30%, 0%);

        h2 {
          text-align: center;
          font-weight: 400;
          line-height: 0.7em;
          font-size: 142px;
          max-width: 100%;
          transform: translate(0%, -35%);
        }

        h3 {
          text-align: center;
          max-width: 100%;
          font-weight: 400;
          color: hsl(var(--a));
          letter-spacing: 19.54px;
          font-size: 20px;
        }
      }

      .description__trayectory {
        display: flex;
        align-items: center;
        padding: 0 1em;
        p {
          font-family: var(--font);
          text-align: justify;
          font-size: 20px;
          line-height: 34.38px;
        }
      }
    }
  }
}
.client-logos {
  display: flex;
  padding-top: 2em;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (min-width: 1150px) {
  .home__trayectory {
    margin-top: 3em;
    margin-bottom: 6em;

    .information__container {
      .title__trayectory {
        transform: translate(45%, 0%);
      }
    }
  }
}

@media screen and (min-width: 750px) {
  .home__trayectory {
    .information__container {
      padding: 3em;
      gap: 0;
      .title__trayectory {
        h2 {
          font-size: 40px;
          letter-spacing: 25.3623px;
        }
      }
      .content__trayectory {
        flex-direction: row;
        .years__trayectory {
          h2 {
            font-size: 290px;
          }
          h3 {
            font-size: 25px;
            letter-spacing: 25.3623px;
          }
        }
        .description__trayectory {
          padding: 2em 2em 2em 1em;
        }
      }
    }
  }

  .client-logos {
    flex-wrap: nowrap;
  }
}
